//color
$blue: #1890ff;
$blue_lite: #54a0e8;
$blue_brite: #90bce4;
$blue_dark: #2a659c;
$blue_dark_gradient: #3d77ad;

$gray_back: rgba(0, 0, 0, 0.03);
$gray_shadow: rgba(0, 0, 0, 0.13);

//sizes
$max_width: 1480px;
