.auth_container {
  width: 100%;
  height: 100%;

  display: flex;

  .auth_wrap {
    margin: auto;
    padding: 1em 2em;

    background-color: $gray_back;
    box-shadow: 0 0 0.5px 0.5px $gray_shadow;
    border-radius: 1em;

    .logo {
      margin-bottom: 24px;

      color: $blue;
      text-align: center;
    }
  }
}
